body {
    margin: 20px;
    font-family: Helvetica, Arial, sans-serif
}

.avatar {
    width: 150px;
}

@keyframes myAnimation {
  from {background-color: #0077b6;}
  to {background-color: #48cae4;}
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #48cae4;
    color: #caf0f8;
    border-bottom: 10px solid #caf0f8;
    border-radius: 24px;
    animation-name: myAnimation;
    animation-duration: 3s
}

.border-blue {
    border: 1px dotted blue;
}
